.inputGroupcamponum {
  border: 3px solid #D11B6F;
  font-size: 15px;
  background-color: #EEEEEE;
  border-radius: 10px;
  width: 260px;
}

.campoNum {
  width: 100%;
  background-color: transparent;
}




